.parallax{
  background-image: url('https://cdn.pixabay.com/photo/2015/12/27/05/48/turntable-1109588_960_720.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}