<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus delectus ad nam
        quibusdam! Expedita
        nulla eligendi porro aperiam eaque adipisci possimus omnis praesentium veritatis dolor? Modi provident
        temporibus numquam a! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam repellendus quae quia
        alias ullam consequuntur sit, praesentium dolore assumenda! Molestias beatae nemo nobis nulla rem dolores nihil
        corrupti illum blanditiis?</p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>
</div>